.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
.colorBar {
  height: 40px;
  background-color:#54513D;
}
.folder-close {
    font-size: 180px;
}
.leaf {
  font-size: 12px;
  float: left;
}
.leaf:hover {
  font-size: 15px;
}
p {
  font-size: 12px;
}
th {
  max-width: 100px;
}
tr {
  max-width: 150px;
}
