.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
.colorBar {
  height: 5%;
  max-height: 5%;
  margin: 0px;
  background-color:#54513D;
}
#folder-close {
    font-size: 120px;
    color: #7C7B70;
}
#folder-close:hover {
    color: #89B700;
}
#leaf {
  color: #89B700;
}
.fa-folder {
  position: relative;
  top: 30px;
  z-index: 0;
  transition: top .2s;
  transition: color .1s;
}

.fa-folder:hover {
  top: 20px;
}
.projectPanel {
  position: relative;
  margin-bottom: 0px;
  padding: 0px;
  background-color: #EEF1BC;
  z-index: 1;
}
.fa-cube {
  float: left;
  padding: 5px;
  color: #505f2d;
  transition: color .2s;
}
.fa-cube:hover {
  color: #505f2d;
}

.fa-leaf {
  float: left;
  padding: 5px;
  color: #a2b427;
  transition: color .2s;
}
.fa-leaf:hover {
  color: #739900;
}
.fa-wrench {
  float: left;
  padding: 5px;
  color: #818b46;
  transition: color .2s;
}
.fa-wrench:hover {
  color: #b8e100;
}
#newBox {
  color: gray !important;
  transition: color .2s;
}
#newBox:hover {
  color: #93c23d !important;
}
#newLeaf {
  color: gray !important;
  transition: color .2s;
}
#newLeaf:hover {
  color: #93c23d !important;
}
#newWrench {
  color: gray !important;
  transition: color .2s;
}
#newWrench:hover {
  color: #93c23d !important;
}
#plusSign {
  padding: 5px;
  color: #7C7B70;
  transition: color .2s;
}
#plusSign:hover {
  color: #89B700;
}
#minusSign {
  padding: 5px;
  color: #7C7B70;
  transition: color .2s;
}
#minusSign:hover {
  color: red;
}
p {
  font-size: 12px;
}
.table {
  max-width: 100px;
}
.folder {
  display: inline-block;
  padding: 20px;
}
.centerText {
  margin-left: 30%;
  margin-right: 30%;
  height: 15%;
  max-height: 15%;
  overflow: hidden;
}
.panel-body {
  padding: 3px;
  display: inline-block;
}
.p1 {
  background-color: #F4F4E1;
  height: 80%;
  z-index: -1;
}

h3 {
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  line-height: 120%;
  margin: 0px;
}

h1 {
  font-family: "museo-sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}




#allProject {
  max-height: 100%;
  height: 100%;
  overflow-y: hidden;
}
 #newLeaf:hover {color: #89B700;} #newWrench:hover {color: #C5EA6F;}
