.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
.colorBar {
  height: 40px;
  background-color:#54513D;
}
#folder-close {
    font-size: 120px;
    color: #7C7B70;
}
#folder-close:hover {
    color: #89B700;
}
#leaf {
  color: #89B700;
}
#box {
  color: #A9CE64;
}
.fIcon {
  font-size: 12px;
  float: left;
  color: #C5EA6F;
  padding: 5px;
}
.newFIcon {
  font-size: 12px;
  float: left;
  color: gray;
  padding: 5px;
}
.fIcon:hover {
  font-size: 13px;
}
.newFIcon:hover {
  font-size: 13px;
  color: green;
}
.plusSign {
  padding: 5px;
  color: #7C7B70;
}
.plusSign:hover {
  color: #89B700;
}
p {
  font-size: 12px;
}
.table {
  max-width: 100px;
}
.folder {
  display: inline-block;
  padding: 20px;
}
.centerText {
  margin-left: 30%;
  margin-right: 30%;
}
.projectPanel {
  margin-bottom: 0px;
  padding: 0px;
  background-color: #EEF1BC;
}
.panel-body {
  padding: 3px;
  display: inline-block;
}
.p1 {
  background-color: #F4F4E1;
  height: 100%;
}
#newBox:hover {color: #A9CE64;} #newLeaf:hover {color: #89B700;} #newWrench:hover {color: #C5EA6F;}
