#addScrollbar::-webkit-scrollbar {
  width: 5px !important;
}

.formatScrollbarArea {

}
#chevronRight {
  padding-left: 10px;
  font-size: 14px;
}

#chevronLeft {
  padding-left: 10px;
  font-size: 14px;
}
#chevronRight {
  padding-left: 10px;
  font-size: 14px;
}

#chevronLeft {
  padding-right: 10px;
  font-size: 14px;
}
