.pre-scrollable {
max-height: 100%;
overflow-y: scroll;
}
.jumbotron {
  background-color: #41463f;
}

h5 {
  color:#FFFFFF;
  opacity: 0.7;
  font-family: "museo-sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  max-width: 500px;
  line-height: 130%;
  /*margin-left: 40px;
  margin-top: 20px;*/
}

h2 {
  color:#FFFFFF;
  opacity: 0.7;
  font-family: "museo-sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  /*margin-left: 40px;*/

}

h3 {
  color:#41463f;
  font-family: "museo", serif;
  font-weight: 700;
  font-size: 26px;
  opacity: 0.7;
  margin-top: 50px;
}

p {
  color:#41463f;
  font-family: "museo-sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.9;
  max-width: 500px;

}

a, a:visited, a:hover, a:focus, a:link {
  color: #41463f;
}

/*color block background*/
#p1 {
  background-color: #f1f1e7;
  opacity: 1.0;
  border-radius: 0px;
  /*width: 100%;*/
  max-width: 900px;
  padding-bottom: 40px;
  padding-top: 40px;
  margin: auto;
  margin-top: 50px;
  border-radius: 3px;
}
.panel-body {
  width: 100%;
}
.homebg {
  height:auto;
}

{/*.homebg ... height:100%*/}

#jumbo {
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0 !important;

  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.jumbotron jumbotron {
  padding-left: 0px;
}
#centerText {
  text-align: left;
  margin-left: 20%;

}
.btn-primary, .btn-primary:visited, .btn-primary:link,.btn-primary:focus{
    background-color: #A2B427;
    color: rgba(0,0,0,0.6);
    font-family: "museo-sans", sans-serif;
    font-weight: 700;
    font-size: 16;
    padding: 6px 12px;
    border-radius: 3px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2), 0 2px 12px 0 rgba(0,0,0,0.19);
    margin-left: none;
    margin-top: 10px;
    border: none;
  }

.btn-primary:hover {
    box-shadow: 0 4px 40px 0 rgba(0,0,0,0.2), 0 8px 48px 0 rgba(0,0,0,0.19);
}

.btn-primary:hover:active {
  -webkit-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
	cursor: pointer;
  background-color: #A2B427;
  color: rgba(0,0,0,0.6);
}


#spacing {
  height: 100px;
}
#bgImage {
  background-size: cover;
}

#divImage {
  width: 70%;
  height: auto;
  margin-top: 40px;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}
