.colorBar {
  height: 5%;
  max-height: 5%;
  margin: 0px;
  background-color:#d2d2b1;
  /*#f1f1e7*/
}
.colorBarText p{
  color: rgba(0,0,0,0.7);
  padding: 10px;
  font-weight: 700;
}
#content {
  padding-left: 0px;
  float: left;
  max-height: 100%;
  max-width: 80%;
  height: 100%;
}
#dash {
  margin: 0px;
  color: rgba(0,0,0, 0.7);
  padding-left: 10px;
}
#SPASS {
  background-color: #f1f1e7;
  max-height: 33%;
  padding-left: 10px;
  overflow-y:hidden;
}
#Design, #MAT {
  max-height: 33%;
  overflow-y:auto;
  padding-left: 10px;
}
p {
  display: inline-block;


}
#Product1, #Product2 {
  display: inline-block;


}
#phase {
  display: inline-block;
  padding: 10px;
  width: 33%;
  height: 50%;
}
#dashImage {
  width: 180px;
  display: block;
  margin: 0px;
}
#phaseContent {
  background-color: #F0F0D5;
  width: 100%;
  height: 20%;
  display: block;
}
#pbar {

}
#phaseGlyph {
  padding: 2px 0;
  font-size: 9vh;
  color: #DDDDA2;
  display: table;
  margin: 0 auto;
}
#matGlyph {
  padding: 20px;
  font-size: 12vh;
  color: #DDDDA2;
  display: inline-block;
}
#phaseText {
  font-size: 2vh;
  font-family: "museo-sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0,0,0,0.5);
  padding: 10px;
  clear: left;
}
#fRight {
  float: right;
}
#proj {
  position: relative;
  top: 0px;
  left:10px;
}
