.colorBar {
  height: 40px;
  background-color:#54513D;
}
.colorBarText p{
  color: white;
  padding: 10px;
}
#content {
  padding-left: 10px;
  float: left;
  min-width: 80%;
  max-width: 80%;
  overflow-y: scroll;
  max-height: 95%;
}
#brown {
  color: #54513D;
  margin: 0px;
}
