.sidebar {
  width: 20%;
  background-color: #41463f;
  float: left;
  height: 100%;
}
.sidebar p {
  color: white;
}
#color {
  backgroundColor: #da471f;
}
#center {
  padding-left: 1px;
  text-align: left;
  color: #E4E9C5;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#green {
  background-color: #a2b427;
}
#greenTwo {
  background-color: #A2B427;
}
/*
h4 {
  margin-left: 20%;
}
*/


#sideBtn:hover {
  background-color: #44513D;
}

#noBottomMargin {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;

  padding-left: 1px;
  text-align: left;
  color: #E4E9C5;
  margin-top: 0px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#designTab {
  width : 100%;
  padding: 10px;
  color: rgba(255, 255, 255, 0.6);
  cursor: not-allowed !important;
}
#designTab:hover {
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
}
#spassTab {
  width : 100%;
  padding: 10px;
  color: rgba(255, 255, 255, 0.6);
}
#spassTab:hover {
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
}
#matTab {
  width : 100%;
  padding: 10px;
  color: rgba(255, 255, 255, 0.6);
  cursor: not-allowed !important;

}
#matTab:hover {
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
}
#settingsTab {
  width : 100%;
  padding: 18px;
  color: rgba(255, 255, 255, 0.6);
  cursor: not-allowed !important;
}
#settingsTab:hover {
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
}

#tab {
  width : 100%;
  padding: 10px;
  font-family: "museo-sans", sans-serif;
  width : 100%;
  padding: 10px;
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}
@media (min-width: 300px) {
  #tab { font-size: 12px; }
}

@media (min-width: 900px) {
  #tab { font-size: 18px; }
}

#tab:hover {
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
}
#tab:hover #doubleAngle{
  color: #a2b427;
  left: 80px;
}
#doubleAngle {
  -webkit-transition: all 1s; /* Safari */
    position: relative;
    transition: all 1s;
    left: 70; /* start out at position 0 */
    top: -.5px;
}
.fa-angle-double-right {
  display: inline-block;
  top: 3px;
}
#ford:focus {
  background-color: white;
  color: #54513D;;
}
#tabS {
  max-width: 80%;
  margin-left: 20%;
  font-size: 14px;
  width : 100%;
  padding: 10px;
  color: rgba(255,255,255,0.7);
}
@media (min-width: 300px) {
  #tabS { font-size: 8px; }
}

@media (min-width: 900px) {
  #tabS { font-size: 12px; }
}

#tabS:hover {
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
}

#brownText {
  color: rgba(0,0,0,0.7);
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;

  padding-left: 1px;
  text-align: left;

  margin-top: 0px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

#whiteText {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  position: relative;
  right: 3%;
  padding-right: 0px;
}

#noClick, .noClick {
  cursor: not-allowed !important;
}
