.sidebar {
  width: 20%;
  background-color: #41463f;
  float: left;
  height: 100%;
}
.sidebar p {
  color: white;
}
#color {
  backgroundColor: red;
}
#center {
  padding-left: 1px;
  text-align: left;
  color: #E4E9C5;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#green {
  background-color: #89B700;
}
#brown {
  background-color: #aaa77d;
}
h4 {
  margin-left: 20%;
}


#sideBtn:hover {
  background-color: #44513D;
}
#noBottomMargin {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;

  padding-left: 1px;
  text-align: left;
  color: #E4E9C5;
  margin-top: 0px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#designTab {
  width : 100%;
  padding: 10px;
  color: rgba(255, 255, 255, 0.6);
  cursor: not-allowed !important;
}
#designTab:hover {
  cursor: pointer;
}
#spassTab {
  width : 100%;
  padding: 10px;
  color: rgba(255, 255, 255, 0.6);
}
#spassTab:hover {
  background-color: #6a634d;
  cursor: pointer;
}
#matTab {
  width : 100%;
  padding: 10px;
  color: rgba(255, 255, 255, 0.6);
  cursor: not-allowed !important;
}
#matTab:hover {
  cursor: pointer;
}
#settingsTab {
  width : 100%;
  padding: 18px;
  color: rgba(255, 255, 255, 0.6);
}
#settingsTab:hover {
  cursor: pointer;
}

#tab {
  width : 100%;
  padding: 10px;
  background-color: #54513D;
  color: white;
}
#tab:hover {
  background-color: #3b392b;
  cursor: pointer;
}
#ford:focus {
  background-color: white;
  color: #54513D;;
}

#tabS {
  max-width: 80%;
  margin-left: 20%;
  font-size: 11px;
  width : 100%;
  padding: 10px;
  background-color: #54513D;
  color: white;
}
#tabS:hover {
  background-color: #3b392b;
  cursor: pointer;
}

#brownText {
  color: rgba(0,0,0,0.7);
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;

  padding-left: 1px;
  text-align: left;

  margin-top: 0px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

#whiteText {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}

.fa-angle-double-right {
  display: inline-block;
  float: right;
  transition: left 1s;
}
.fa-angle-double-right:hover {
  left: 20px;
}
