h3 {
  color: #706F47;
  font-weight: bold;

}
h1 {

}
p {

}
#pad {
  padding: 5px;
}
#product1, #product2 {
  display: inline-block;
}
#scroll {
  max-height: 100%;
  overflow-y: auto;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
     background: transparent;  /*optional: just make scrollbar invisible */
}
#scroll::-webkit-scrollbar {
    width: 10px;  /* remove scrollbar space */
    /* background: transparent;  optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #41463f;
    border: 1px solid rgb(0,0,0);
}

#scroll::-webkit-scrollbar-track {
    background: rgb(0,0,0);
    border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    background: rgb(0,0,0);
    border: 5px solid transparent;
    background-clip: content-box;
}

#matrixRow {
  max-width: 100%;
  position:relative;
    overflow:auto;
    white-space: nowrap;
}
#matrixDisplay {
  display: inline-block;
    overflow: hidden;
}
