h3 {
  color: #706F47;
  font-weight: bold;
  padding-left: 20px;
}

h1 {
  padding-left: 20px;
}
p {
  padding-left: 20px;
}
#pad {
  padding: 5px;
}
#product1, #product2 {
  display: inline-block;
}
#scroll {
  max-height: 100%;
  overflow-y: auto;
}
#matrixRow {
  max-width: 100%;
  position:relative;
    overflow:auto;
    white-space: nowrap;
}
#matrixDisplay {
  display: inline-block;
    overflow: hidden;
}
#sumDisplay {
  display: inline;
    float: right;
    top: 56.2px;
    position:absolute;
}
#lowerButtons .btn{
  background-color: blue;
  color: white;
}
