

#pad {
}

#product1, #product2 {
  display: inline-block;
  clear: left;

}
#scroll {
  max-height: 100%;
  overflow-y: auto;
  padding-left: 20px;
}
#matrixRow {
  max-width: 100%;
  width: 100%;
  position:relative;
  overflow-x: auto;
  overflow-y: visible;
  white-space: nowrap;
}
#matrixDisplay {
  width: 90%;
  display: inline-block;
    overflow-x: auto;
    overflow-y: visible;
}
#sumDisplay {
  display: inline;
    float: right;
    top: 56.2px;
    position:absolute;
}

#lowerButtons .btn{
  color: rgba(0,0,0,0.7);
  font-family: 'museo-sans', sans-serif;;
  font-weight: 700;
  font-size: 16px;
}
#continueBtn {
  background-color: #a2b427;
  float: right;
  width: 45%;
  border-radius: 0px;
  margin-top: 50px;
  border-radius: 3px;
}

#continueBtn:hover {
  background-color: #909b51;
}

#backBtn {
  background-color: #d2d2b1;
  float: left;
  width: 450%;
  border-radius: 0px;
  margin-top: 50px;
  border-radius: 3px;
}
#backBtn:hover {
  background-color: #aaa77d;
}
#noClick {
  cursor: not-allowed !important;
}

#rowTitle{
    padding: none;
    margin: 10px;
    margin-left: -25px;
    border: none;
    background-color: none;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -ms-transform-origin: 20% 40%; /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 20% 40%; /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    transform-origin: 20% 40%;
    float: left;
}

.btn-danger {
  background-color: #da471f;
}

#chevronRight {
  padding-left: 10px;
  font-size: 14px;
}

#chevronLeft {
  padding-right: 10px;
  font-size: 14px;
}
