.popover-content {
  padding: 0px;
  overflow-y: auto;
  width: auto;
  overflow-x: visible;
}
#percentTab {
  padding-left: 5px;
  padding-right: 5px;
  line-height: 30px;
}
#percentTab:hover {
  background-color: #f1f1da;
}
#percentTab:after
{
    content:' ';
    display:block;
    border:.5px solid black;
}
#myRel {
  position: relative;
}
.pop {
  width: 500px !important;
}
