#myDiv {
  width: 100%;
}

#myTable{
  width:100%;
  font-family: "museo-sans", sans-serif;
  color: rgba(0,0,0,0.7);
  background-color: rgba(210,210,177,.2);
  margin: 20px;
}
#colNames{
  min-width: 130px;
}

#myScroll{
  width: 100%;
  overflow-x: auto;
  margin-right: 0px;
  overflow-y: auto;
  height: 300px;
}

#addScrollbar::-webkit-scrollbar {
  width: 5px;
}

#padLeft20 {
  padding-left: 20px;

}

/* styles for '...' */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */

height: 45px;
max-height: 45px;


  /* fix problem when last visible word doesn't adjoin right side  */
    padding-right: 1em;



}
.block-with-text:before {
  /* points in the end */
  content: '...';
  color: gray;
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  width: 1em;
  /* set width and height */
  background: white;
}
.table{
  width : 2000px;
}

#myCustomTable td {
  text-align: center;
  color: black;
  vertical-align: middle;
  border: 1px solid black;
}

#msTopRow {
  height: 100px;
}
