#myDiv {
  width: 100%;
}

#myTable{
  width:100%;
  font-family: "museo-sans", sans-serif;
  color: rgba(0,0,0,0.7);
  background-color: rgba(210,210,177,.2);
  overflow-y: visible;
  margin-bottom: 150;

}
#colNames{
  min-width: 130px;
}

#myScroll{
  width: 100%;
  overflow-x: auto;
  margin-right: 0px;
  overflow-y:visible !important;
  height: auto;/*Causes tables to be full height*/
}

#addScrollbar::-webkit-scrollbar {
    width: 10px;  /* remove scrollbar space */
    /* background: transparent;  optional: just make scrollbar invisible */
    overflow-y: visible;
}
/* optional: show position indicator in red*/
#addScrollbar::-webkit-scrollbar-thumb {
    background: #41463f;
    border: 1px solid rgb(0,0,0);
}


#addScrollbar::-webkit-scrollbar-track {
    background: rgb(0,0,0);
    border: 4px solid transparent;
    background-clip: content-box;
}

#padLeft20 {
  padding-left: 20px;

}

/* styles for '...' */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */

height: 45px;
max-height: 45px;


  /* fix problem when last visible word doesn't adjoin right side  */
    padding-right: 1em;
    padding-left: 15px;


}
.block-with-text:before {
  /* points in the end */
  content: '...';
  color: gray;
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  width: 1em;
  /* set width and height */
  background: white;
}
.table{
  width : 2000px;
}

#myCustomTable td {
  text-align: center;
  color: black;
  vertical-align: middle;
  border: 1px solid black;
}

#msTopRow {
  height: 100px;
}
