#myDiv {
  width: 100%;
}

#myTable{
  width:100%;
}
#colNames{
  min-width: 130px;
}

#myScroll{
  width: 100%;
  overflow-x: auto;
  margin-right: 0px;

}

/* styles for '...' */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */

height: 45px;
max-height: 45px;

  /* fix problem when last visible word doesn't adjoin right side  */
    padding-right: 1em;



}
.block-with-text:before {
  /* points in the end */
  content: '...';
  color: gray;
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  width: 1em;
  /* set width and height */
  background: white;
}
.table{
  width : 2000px;
}
